.casa-icon {
    position: absolute; 
    background-color: black;
    top: 70px; 
    left: 10px; 
    width: 40px; 
    height: auto; 
    cursor: pointer; 
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    text-align:center;
}
p{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 500;
  font-size: 18px;
}

/*icone sopra ai testi*/
.immagini{
    display: flex; /* Dispone gli elementi in riga */
    gap: 580px; 
    align-items: center; 
    margin-top: 20px; /* Spaziatura sopra il contenitore */
}

.mail{  /*immagine mail*/
    width: 60px;
    margin-left: 350px;
    margin-top: 30px;
}
.telefono{ /*immagine telefono*/
    width: 50px;
    margin-left: 90px;
    margin-top: 30px;
}
.luogo{ /*immagine indicatore luogo*/
    width: 50px;
    margin-left: 720px;
    margin-top: 30px;
}

.contatti{
    display: flex; 
    gap: 500px; /* Spaziatura tra gli elementi */
    justify-content: center; 
    align-items: center; 
    margin-top: 20px; 
}
  .contatti p {
    margin: 0; /* Rimuove i margini predefiniti */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; /* Dimensione del testo */
    line-height: 1.5; /* Altezza della linea */
   }


/*footer*/
.footer{
    clear: both;
    background-color: black;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0; /* Posiziona il footer al bordo sinistro */
    right: 0; /* Posiziona il footer al bordo destro */
    width: 110%;
    height: 50px;
    display: flex;
    justify-content: center; /* Centra il testo orizzontalmente */
    align-items: center; /* Centra il testo verticalmente */
    padding:0px; 
    margin-left: -10px;
    margin-top:300px;
}

.footer a{
    color: white;
    text-decoration: solid;
    margin: 0 10px;
}

.footer a:hover{
    text-decoration: underline;
}