.casa-icon {
    position: absolute; 
    background-color: black;
    top: 70px; 
    left: 10px; 
    width: 40px; 
    height: auto; 
    cursor: pointer; 
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    text-align:center;
}
p{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 500;
  font-size: 18px;
}

/*icone sopra ai testi*/
.immagini{
    display: flex; /* Dispone gli elementi in riga */
    gap: 580px; 
    align-items: center; 
    margin-top: 20px; /* Spaziatura sopra il contenitore */
}

.mail{  /*immagine mail*/
    width: 60px;
    margin-left: 350px;
    margin-top: 30px;
}
.telefono{ /*immagine telefono*/
    width: 50px;
    margin-left: 90px;
    margin-top: 30px;
}
.luogo{ /*immagine indicatore luogo*/
    width: 50px;
    margin-left: 720px;
    margin-top: 30px;
}

.contatti{
    display: flex; 
    gap: 500px; /* Spaziatura tra gli elementi */
    justify-content: center; 
    align-items: center; 
    margin-top: 20px; 
}
  .contatti p {
    margin: 0; /* Rimuove i margini predefiniti */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; /* Dimensione del testo */
    line-height: 1.5; /* Altezza della linea */
   }


/*footer*/
.footer {
    background: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 18px;
    margin-top: 40px;
    height: auto;
    width: 100;
    margin-left: auto;    /* Centra il footer */
    margin-right: auto;
    box-sizing: border-box;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 8px;
}
.footer a:hover {
    text-decoration: underline;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}