.casa-icon {
    position: absolute; /* Posiziona l'immagine in alto a sinistra */
    background-color: black;
    top: 70px; /* Distanza dal bordo superiore */
    left: 10px; /* Distanza dal bordo sinistro */
    width: 40px; /* Larghezza dell'immagine */
    height: auto; /* Mantiene le proporzioni */
    cursor: pointer; /* Cambia il cursore in "mano" quando si passa sopra */
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    text-align:center;
}

p{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 500;
  font-size: 17px;
}
/*creazione scritte in fondo alla pagina a sinistra*/
.footer{
    clear: both;
    background-color: black;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0; /* Posiziona il footer al bordo sinistro */
    right: 0; /* Posiziona il footer al bordo destro */
    width: 110%;
    height: 50px;
    display: flex;
    justify-content: center; /* Centra il testo orizzontalmente */
    align-items: center; /* Centra il testo verticalmente */
    padding:0px; 
    margin: 0px;
    margin-left: -30px;
    margin-top:156px;
}

.footer a{
    color: white;
    text-decoration: solid;
    margin: 0 10px;
}

.footer a:hover{
    text-decoration: underline;
}