
h5{
    text-align: center;
}

.titolo{
    background-image: url("scarpe.png");
    height:789px;
    margin-top: -40px;
    margin-left: -10px;
    margin-right:-10px ;
    opacity: 80%;
}


h1{
    text-align: center;
    font-size: 60px;
    opacity: 100%;
}


